

* {
  font-family: 'Gaegu', sans-serif;
  box-sizing: border-box;
  color: #6A1D57;
}

html{
  height: 100%;

}
main{
  height: 100%;
}
.box {
    background-color: rgb(132, 216, 194);
    border: 10px solid rgb(55, 186, 152);
    padding: 30px;
    margin: 30px auto;
    max-width: 700px;
    border-radius: 10px;
}

.box::after {
    content: '';
    display: table;
    clear: both;
}

.nameFont{
  font-size: 20px;

}

#nav {
  list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: rgb(132, 216, 194);
 
 }
 
 #nav li {
 
   float: left;
 }
 
 li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }

ul {
  list-style: none;
}

img{
height: 100px;
width: 100px;
border: 10px solid rgb(55, 186, 152);
border-radius: 10px;

}

button {
    display: block;
    color: #555;
    padding: 10px;
    font-size: 16px;
    background-color: #eee;/*#D05D6D*/
    border: none;
    box-shadow: inset 0 -1px 3px #ccc, inset 0 3px 3px #fff;
    transition: all 200ms ease;
    margin:auto; /*this is centering the button in the middle of div*/
    width: 50px;
    height: 50px;
    background-image: url("https://cf.ltkcdn.net/yoga/images/slide/122006-631x850-om-symbol-5.jpg");
    background-repeat: no-repeat;  
    background-position: 0px 0px; 
    background-size: 50px 50px;
    border-radius: 50%;
}
.hideText {
  text-indent: -9999px;
  text-align: left;
  white-space: nowrap; 
  overflow: hidden; 
}

button:hover {
    background-color: #fff;
}

button:active {
    background-color: #ddd;
}

header {
    background-color:rgb(132, 216, 194);
}

.container {
  text-align: center;
  height: 100%;
}


#yogatypes {
   display: block;
  margin: 0 auto;
}


  body {
    background-color: rgb(86, 212, 202);
  }

h1{
  font-size: 40px;
  text-align: center;
 
}

h2{
  font-size: 20px;
  text-align: center;
  
}

p{
  font-size: 20px;
  
}
option {
  font-size: 14px;
  background-color:rgb(132, 216, 194);
}


 

@media only screen and (min-width: 600px) {
    body {
      background-color: rgb(121, 228, 153);
    }
    h1{
      font-size: 80px;
      text-align: center;
     
    }
    
    h2{
      font-size: 35px;
      text-align: center;
      
    }
    
    p{
      font-size: 50px;
      
    }
option{
  font-size: 25px;
  background-color:rgb(132, 216, 194);
}
button {
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
  }
  img{
    height: 200px;
    width: 200px;
    
  }
  .nameFont{
    font-size: 40px;
  
  }
}



